run = ["npm", "start"]

entrypoint = "app.mjs"

[unitTest]
language = "nodejs"

[packager]
language = "nodejs"
	[packager.features]
	packageSearch = true
	guessImports = false
	enabledForHosting = true