<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" type="text/css" href="/styles/pico.min.css">
<link rel="stylesheet" type="text/css" href="/styles/style.css">

<%- meta %>

<%- script %>

<%- style -%>
	
<title><%- title -%></title>