<hgroup>
	<h3>Work in Progress</h3>
	<h4>
		View code at <a href="https://github.com/EpicGamer007/mysite" target="_blank">Github</a> (AGPL) or check out my <a href="https://blog.abhay7.ml">blog</a>
	</h4>
</hgroup>
<p>Onion (Tor) Location: <a href="<%- data.onionLocation %>"><%- data.onionLocation %></a></p>

<%- contentFor("title") %>
Abhay