<hgroup>
	<h1>Hi, my name is Abhay!</h1>
	<h3>This site is a work in progress...</h3>
</hgroup>

<p>
	<h4>Links</h4>
	<ul>
		<li><a href="https://github.com/EpicGamer007" target="_blank">My GitHub</a></li>
		<li><a href="https://replit.com/@EpicGamer007" target="_blank">My Replit</a></li>
		<li><a href="https://blog.abhay7.ml" target="_blank">My Blog</a></li>
		<li><a href="https://status.abhay7.ml" target="_blank">Check uptime</a></li>
	</ul>
</p>

<%- contentFor("title") %>
Abhay