<!DOCTYPE html>
<html lang="en" data-theme="dark">
	<head>
		<%- include("./components/head") %>
	</head>
	<body>
		
		<main class="container">
			<%- body %>
		</main>

		<!--<footer>
			Licensed under the GNU AGPL
			<br/>
			<a href="https://github.com/EpicGamer007/mysite">
				Source code available on GitHub
			</a>
		</footer>-->
		
	</body>
</html>