<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("./components/head") %>
	</head>
	<body>
		
		<main>
			<%- body %>
		</main>

		<footer>
			Licensed under the GNU AGPL. <a href="https://github.com/EpicGamer007/mysite">Source code available on GitHub</a>
		</footer>
		
	</body>
</html>